$color-white: #fff;
$color-black: #0b0c10;
$color-gray: #575656;
$light-gray: #f3f3f3;
$gold: #b79b69;
$brown: #a08870;
$dark-blue: #051E2F;
$dark-text-color: #03293E;
$dark-grey: #6D6D6D;
$light-grey: #8A8A89;
$text-light-grey: #B3B3B3;
$text-dark: #6C6C6C;
$red: #E8252A;
$red-text: #CC0204;
$blue: #1A78B1;
$yellow: #FC9A04;
$orange: #F95D06;
$text-color: #424143;
$color-brown: #a98057;
$dark-node: #0a1431;


$bg-color-brown: #d1c6be;
$btn-blue: #06315a;
$slider-arrow: #4f4c4c;
$color-td:#888687;
