h1 {
  font-family: $oswald;
}


.text-gold {
  color: $gold!important;
}

.text-orange {
  color: $orange!important;
}

.text-yellow {
  color: $yellow!important;
}

.text-red {
  color: $red-text!important;
}

.text-grey {
  color: $dark-grey!important;
}
